{{ $arg := .Get 0 }}
{{ $dataJ := getJSON $arg }}

<ul>
  {{ range $dataJ }}
  <li>
    <a href="{{ .url }}" title="{{ .description }}">
      {{ .icon }} {{ .name }}
    </a>
  </li>
  {{ end }}
</ul>
