// -------------------- colors
$chaosblue: #0076ba;
$chaosblue-dark: #005383;

$commyellow: #ffc600;
$commyellow-dark: #d39a00;

$campgreen: #99ba00;
$campgreen-dark: #6f8700;

$bright: #ffffff;
$grey: #3c3c3c;
$dark: #000000;

// -------------------- fonts
@font-face {
  font-family: "marvelbold";
  src: url("/fonts/marvel-bold-webfont.woff2") format("woff2"),
       url("/fonts/marvel-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "fira_sansregular";
  src: url("/fonts/firasans-regular-webfont.woff2") format("woff2"),
       url("/fonts/firasans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// -------------------- fonts and typography
html {
  font-family: "fira_sansregular";
  font-size: 20px;
}

@media (min-width: 480px) {
  html {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 28px;
  }
}

@media (min-width: 1366px) {
  html {
    font-size: 32px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 36px;
  }
}

// -------------------- shortcut list
ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;

  > li {
    box-sizing: border-box;
    padding: 0.5rem;
    flex: 0 100%;

    > a {
      border: 0.2rem solid;
      display: block;
      font-weight: bold;
      font-family: "marvelbold";
      padding: 0.75rem 0.5rem;
      text-align: center;
      text-decoration: none;
    }
  }
}

@media (min-width: 30rem) {
  ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    > li {
      flex: 0 50%;
    }
  }
}

@media (min-width: 45rem) {
  ul {
    > li {
      flex: 0 33%;
    }
  }
}

@media (min-width: 60rem) {
  ul {
    > li {
      flex: 0 25%;
    }
  }
}

// -------------------- footer
footer {
  font-size: 0.75rem;
  text-align: center;

  > img {
    max-width: 20rem;
  }
}
