<footer>
  <p>Be excellent to each other! &hearts;</p>

  <img src="cccamp19_logo_colors_RGB.svg" alt="chaoscommunicationcamp 2019 logo">

  <p>
    Something missing?
    <br>
    <a href="https://gitlab.com/optikfluffel/camp2019.info" title="optikfluffel/camp2019.info at Gitlab">
      Please send a pull request or open an issue.
    </a>
  </p>
</footer>
